APP_MODE=simulation
API_HOST=127.0.0.1
API_PORT=8090
DB_URL=sqlite+aiosqlite:///./drone.db
CORS_ORIGINS=["http://127.0.0.1:5173","http://127.0.0.1:5174"]
OSM_CENTER_LAT=30.598
OSM_CENTER_LON=103.991
OSM_RADIUS_M=5000
TELEMETRY_INTERVAL_MS=50
SIM_DEFAULT_ALTITUDE_M=100.0
MAVSDK_SYSTEM_ADDRESS=udp://:14540
SQL_ECHO=false
